.button {
  padding: 12px 24px;
  text-align: center;
  border-radius: 4px;
  color: var(--white-light);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--primary-light);
  width: 100%;
  margin-top: 24px;
}

.button:hover {
  background-color: var(--primary-dark);
}